<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="https://ac-modding.com/fasil.ico" />

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          {% if site.show_downloads %}
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
          <a href="https://ac-modding.com/contact" class="btn"></span>Ways of Contact</a>
          <a href="https://ac-modding.com/privacy" class="btn"></span>Privacy</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K4Z6G4GC6C"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'G-K4Z6G4GC6C');
    </script>
  </body>
<meta property='og:image' content='https://raw.githubusercontent.com/inconsistent-dg/AC-Modding/main/assets/images/acm.png'>
<meta name="twitter:card" content="summary_large_image">
<meta name="theme-color" content="#0e2537">
<meta name="author" content="inconsistent_dg">
<meta name="keywords" content="animal crossing, animal crossing new horizons, animal crossing: new horizons, animal crossing switch, animal crossing new leaf, animal crossing: new leaf, treasure island, hacks, animal crossing hacks, animal crossing modding, ac modding, how to make a treasure island, how to install animal crossing mods, hacker, hacking, modder, modding, mods, nintendo, nintendo switch, switch, animal crossing new horizons for the nintendo switch and nintendo switch lite handheld systems owned by and licenced by nintendo, nhse, new horizons: save editor, new horizons save editor, save editor for animal crossing, jksv, sysdvr, stream switch to pc without capture card, ftpd">
<link type="application/json+oembed" href="https://raw.githubusercontent.com/inconsistent-dg/AC-Modding/main/dc.json"/>
</html>
