<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="../fasil.ico" />

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <script>

var lines;
var randomNumber;
var lastRandomNumber;

$(document.body).ready(function () {

  // load the trivia from the server
  $.ajax({
    url: 'pages/misc/sehsalps.txt'
  }).done(function(content) {

    // normalize the line breaks, then split into lines
    lines = content.replace(/\r\n|\r/g, '\n').trim().split('\n');

    if (lines && lines.length) {
      $( document ).ready(function () {
        // loop to prevent repeating the last random number
        while (randomNumber === lastRandomNumber) {
          randomNumber = parseInt(Math.random() * lines.length);
          // check to prevent infinite loop
          if (lines.length === 1) { break; }
        }
        // keep track of the last random number
        lastRandomNumber = randomNumber;

        // show the corresponding line
        $('#trivia').text(lines[randomNumber]);
      });
    }
  });
});

        </script>

        <section id="downloads">
          {% if site.show_downloads %}
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
          <a href="../contact" class="btn"></span>Ways of Contact</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
<meta content="AC-Modding: A central source of info for modding Animal Crossing." property="og:title">
<meta property='og:image' content='https://raw.githubusercontent.com/inconsistent-dg/AC-Modding/main/assets/images/impossible.png'>
<meta name="twitter:card" content="summary_large_image">
<link type="application/json+oembed" href="https://raw.githubusercontent.com/inconsistent-dg/AC-Modding/main/dc.json"/>
<meta name="theme-color" content="#0e2537">
<meta name="author" content="inconsistent_dg">
<meta name="keywords" content="animal crossing, animal crossing new horizons, animal crossing: new horizons, animal crossing switch, animal crossing new leaf, animal crossing: new leaf, treasure island, hacks, animal crossing hacks, animal crossing modding, ac modding, how to make a treasure island, how to install animal crossing mods, hacker, hacking, modder, modding, mods, nintendo, nintendo switch, switch, animal crossing new horizons for the nintendo switch and nintendo switch lite handheld systems owned by and licenced by nintendo">
</html>
